[flake8]
max-line-length = 88
extend-ignore = E203, W503
per-file-ignores =
    src/choose.py:E722
    src/pathpicker/color_printer.py:E713
    src/pathpicker/formatted_text.py:E714
    src/pathpicker/output.py:E741
    src/pathpicker/parse.py:W605
    src/pathpicker/screen_control.py:W605
