[flake8]
max-line-length = 88
extend-ignore = E203, W503
per-file-ignores =
    src/choose.py:E722
    src/pathpicker/color_printer.py:F401,E713
    src/pathpicker/formatted_text.py:E714
    src/pathpicker/key_bindings.py:F401,E501
    src/pathpicker/logger.py:F401
    src/pathpicker/output.py:F401,E741
    src/pathpicker/parse.py:F401,W605
    src/pathpicker/screen_control.py:W605,E501
    src/pathpicker/screen_flags.py:F401,E501
    src/tests/lib/screen.py:F401
    src/tests/lib/screen_test_runner.py:F401
    src/tests/test_key_bindings_parsing.py:F401,E501
    src/tests/test_parsing.py:F401,E501
    src/tests/test_screen.py:F401
